@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome Philip :)</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h2>Hej! Ta en kall bärs o njut :)</h2>
<img style="max-width:75%" src="https://www.voister.se/media/6443/o-lglas-blockkedja.jpg?anchor=center&mode=crop&width=945&rnd=132634789790000000" />